## HACK Ignore linux binary files ##

# Ignore all
#*
# Unignore all with extension
#!*.*
# Unignore all dirs
#!*/

## End Linux binary ignore ##

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Do not add vendor
vendor/*/
